{% extends "layouts/layout.html" %} {% block content %}

<div class="container-fluid">
  <div class="p-4 mb-4">
    <div class="row">
      <div wire:ignore>
        <!-- Page Title -->
        <h2 class="fw-bold">Flaged Files</h2>
      </div>
    </div>

    <!-- Data Table -->
    <div class="table-responsive">
      <table class="table table-borderless table-striped table-hover align-middle mb-0">
        <thead class="">
          <tr>
            <th scope="col" class="fw-bold">ID</th>
            <th scope="col" class="fw-bold">File Name</th>
            <th scope="col" class="fw-bold">File Size (KB)</th>
            <th scope="col" class="fw-bold">Upload Time</th>
            <th scope="col" class="fw-bold">Status</th>
            <th scope="col" class="fw-bold">Score</th>
            <th scope="col" class="fw-bold">Control</th>
          </tr>
        </thead>
        <tbody>
          {% if flaged_reports %}
          {% for report in flaged_reports %}
          <tr>
            <td>
              {{ report.report_id }}
            </td>
            <td>
              {{ report.file_name }}
            </td>
            <td>
              {{ (report.file_size / 1024) | round(2) }}
            </td>
            <td>
              {{ report.upload_time.strftime("%Y-%m-%d %H:%M:%S") }}
            </td>
            <td>
              <span class="badge bg-{{ 'success' if report.status == 'Benign' else 'warning' }}">
                {{ report.status }}
              </span>
            </td>
            <td>
              {{ report.score }}
            </td>
            <td>
              <div class="btn-group" role="group" aria-label="File controls">
                <a href="{{url_for('report_details_file_information', report_id=report.report_id)}}" class="btn btn-info btn-sm m-2" data-bs-toggle="tooltip" title="View Details">
                  <i class="fas fa-eye"></i>
                </a>
                <form action="/flag" method="post">
                  <input type="hidden" name="id" value="{{ report.report_id }}">
                  <button type="submit" class="btn btn-danger btn-sm m-2" data-bs-toggle="tooltip" title="Flag File">
                    <i class="fas fa-flag"></i>
                  </button>
                </form>
              </div>
            </td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="7" class="text-center py-4 text-muted">
              <i class="fas fa-database me-2"></i>
              There is no data yet!
            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>

  </div>
</div>



{% endblock %}